<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	 
	
	 
	<include resource="org/springframework/boot/logging/logback/base.xml" />  
	<!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
	    <encoder>  
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} : %msg %n</pattern>  
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
	    </encoder>  
	  </appender>  

	<!-- 文件输出 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">   
		<file>C:/Users/Administrator/Desktop/logs/payment-v2-web.log</file> 
		<!-- 时间滚动 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
		  <fileNamePattern>C:/Users/Administrator/Desktop/logs/payment-v2-web.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>  
		<encoder>   
		  <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} : %msg %n</pattern>   
		  <charset>UTF-8</charset>  <!-- 此处设置字符集 -->
		</encoder>   
	</appender>    
	 
	
	 <springProfile name="dev">
    	<logger name="cn.com.payment" level="DEBUG" addtivity="false">
			<!-- <appender-ref ref="STDOUT" /> -->
			<appender-ref ref="FILE" />
		</logger>
    </springProfile>

</configuration>