<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payment.v2.web.mapper.MerchantSettlementMapper">
	<resultMap type="cn.com.payment.v2.web.model.MerchantSettlement" id="merchantSettlementResultMap">
		<id column="set_settleId" jdbcType="BIGINT" property="settleId" />
		<result column="set_mchId" jdbcType="BIGINT" property="mchId" />
		<result column="set_settleDate" jdbcType="TIMESTAMP" property="settleDate" />
		<result column="set_payDate" jdbcType="TIMESTAMP" property="payDate" />
		<result column="set_settleType" jdbcType="VARCHAR" property="settleType" />
		<result column="set_settleAmount" jdbcType="BIGINT" property="settleAmount" />
		<result column="set_state" jdbcType="VARCHAR" property="state" />
		<result column="set_createTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="set_updateTime" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	<insert id="save" parameterType="MerchantSettlement" useGeneratedKeys="true" keyProperty="settleId">
	  INSERT INTO pay_merchant_settlement
	  (set_mchId,set_settleDate,set_payDate,set_settleType,set_settleAmount,set_state,set_createTime,set_updateTime)
	  VALUES 
	  (#{mchId},#{settleDate},#{payDate},#{settleType},#{settleAmount},#{state},#{createTime},#{updateTime})
	</insert>

	<insert id="insertBatch" parameterType="MerchantSettlement">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		pay_merchant_settlement
		(set_mchId,set_settleDate,set_payDate,set_settleType,set_settleAmount,set_state,set_createTime,set_updateTime)
		SELECT *
		FROM (
		<foreach collection="list" item="merchantSettlement" index="index"
			open="" close="" separator="union all">
			SELECT
					 #{mchId} as set_mchId,
					 #{settleDate} as set_settleDate,
					 #{payDate} as set_payDate,
					 #{settleType} as set_settleType,
					 #{settleAmount} as set_settleAmount,
					 #{state} as set_state,
					 #{createTime} as set_createTime,
					 #{updateTime} as set_updateTime
			FROM DUAL
		</foreach>
		) A
	</insert>

	
	<update id="update" parameterType="MerchantSettlement">
		UPDATE pay_merchant_settlement
		<set>
		  <if test="settleId !=null and settleId >= 0 "> 
			 set_settleId = #{settleId},
	      </if>
		  <if test="mchId !=null and mchId >= 0 "> 
			 set_mchId = #{mchId},
	      </if>
		  <if test="settleDate !=null and settleDate!='' ">
			 set_settleDate=#{settleDate},  
		  </if> 
		  <if test="payDate !=null and payDate!='' ">
			 set_payDate=#{payDate},  
		  </if> 
		  <if test="settleType !=null and settleType!='' ">
			 set_settleType=#{settleType},  
		  </if> 
		  <if test="settleAmount !=null and settleAmount >= 0 "> 
			 set_settleAmount = #{settleAmount},
	      </if>
		  <if test="state !=null and state!='' ">
			 set_state=#{state},  
		  </if> 
		  <if test="createTime !=null and createTime!='' ">
			 set_createTime=#{createTime},  
		  </if> 
		  <if test="updateTime !=null and updateTime!='' ">
			 set_updateTime=#{updateTime}  
		  </if> 
		</set>
		WHERE set_settleId = #{settleId}
	</update>

	<delete id="deleteByPK">
		DELETE FROM pay_merchant_settlement WHERE set_settleId = #{settleId}
	</delete>


	<delete id="deleteByPKs" parameterType="java.util.ArrayList">
	  DELETE FROM pay_merchant_settlement WHERE set_settleId IN
		<foreach collection="array" item="settleId" open="(" separator="," close=")">
			 #{settleId}
		</foreach>
	</delete>
	
	<delete id="delete" parameterType="MerchantSettlement"> 
		DELETE FROM pay_merchant_settlement WHERE set_settleId = #{settleId}
	</delete>
	
	<select id="exists" parameterType="java.lang.Long" resultType="boolean">
		select count(*) from pay_merchant_settlement where set_settleId = #{settleId}
	</select>
	
	<select id="selectOne" parameterType="java.lang.Long" resultMap="merchantSettlementResultMap">
		select * from pay_merchant_settlement
		where set_settleId = #{settleId}
	</select>
	
	<select id="selectAll" resultMap="merchantSettlementResultMap">
		select * from pay_merchant_settlement
	</select>
	
	<select id="selectByPKs" parameterType="java.util.ArrayList" resultMap="merchantSettlementResultMap">
		select * from pay_merchant_settlement
		where set_settleId in
		<foreach collection="array" item="settleId" open="(" separator="," close=")">
			 #{settleId}
		</foreach>
	</select>
	
	<select id="selectByProperty" parameterType="MerchantSettlement" resultMap="merchantSettlementResultMap">
	  SELECT * FROM pay_merchant_settlement 
		<where>
		  <if test="settleId !=null and settleId >= 0 ">
			 set_settleId=#{settleId}  
		  </if> 
		  <if test="mchId !=null and mchId >= 0 ">
			AND set_mchId=#{mchId} 
		  </if> 
	      <if test="settleDate !=null and settleDate!='' ">
			AND set_settleDate=#{settleDate}  
		  </if> 
	      <if test="payDate !=null and payDate!='' ">
			AND set_payDate=#{payDate}  
		  </if> 
	      <if test="settleType !=null and settleType!='' ">
			AND set_settleType=#{settleType}  
		  </if> 
		  <if test="settleAmount !=null and settleAmount >= 0 ">
			AND set_settleAmount=#{settleAmount} 
		  </if> 
	      <if test="state !=null and state!='' ">
			AND set_state=#{state}  
		  </if> 
	      <if test="createTime !=null and createTime!='' ">
			AND set_createTime=#{createTime}  
		  </if> 
	      <if test="updateTime !=null and updateTime!='' ">
			AND set_updateTime=#{updateTime}  
		  </if> 
		</where>
	</select>
	<select id="selectByPropertyKeyWord" parameterType="MerchantSettlement" resultMap="merchantSettlementResultMap">
	  SELECT * FROM pay_merchant_settlement 
		<where>
		  <if test="settleId !=null and settleId >= 0 ">
			 set_settleId=#{settleId}  
		  </if> 
		  <if test="mchId !=null and mchId >= 0 ">
			AND set_mchId=#{mchId} 
		  </if> 
	      <if test="settleDate !=null and settleDate!='' ">
			AND set_settleDate=#{settleDate}  
		  </if> 
	      <if test="payDate !=null and payDate!='' ">
			AND set_payDate=#{payDate}  
		  </if> 
	      <if test="settleType !=null and settleType!='' ">
			AND set_settleType=#{settleType}  
		  </if> 
		  <if test="settleAmount !=null and settleAmount >= 0 ">
			AND set_settleAmount=#{settleAmount} 
		  </if> 
	      <if test="state !=null and state!='' ">
			AND set_state=#{state}  
		  </if> 
	      <if test="createTime !=null and createTime!='' ">
			AND set_createTime=#{createTime}  
		  </if> 
	      <if test="updateTime !=null and updateTime!='' ">
			AND set_updateTime=#{updateTime}  
		  </if> 
		  <if test="keyWord !=null and keyWord!='' ">
			AND 
				(
		 		set_settleType LIKE CONCAT(CONCAT('%', #{keyWord}),'%')
				 or
		 		set_state LIKE CONCAT(CONCAT('%', #{keyWord}),'%')
				 or
			 	)
		  </if> 
		</where>
	</select>
</mapper>