<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payment.v2.web.mapper.RoleAuthMapper">
	<resultMap type="RoleAuth" id="roleAuthResultMap">
  	   <id column="sra_roleId" property="roleId" />
  	   <result column="sra_menuId" property="menuId" />
	</resultMap>
	
	<insert id="insert" parameterType="RoleAuth" useGeneratedKeys="true" keyProperty="roleId">
	  INSERT INTO sys_role_auth(sra_roleId,sra_menuId)
	  VALUES (#{roleId},#{menuId})
	</insert>

	<insert id="save" parameterType="RoleAuth" useGeneratedKeys="true" keyProperty="roleId">
	  INSERT INTO sys_role_auth(sra_roleId,sra_menuId)
	  VALUES (#{roleId},#{menuId})
	</insert>
	
	<delete id="delByIds">
	  DELETE FROM sys_role_auth WHERE sra_roleId IN
		<foreach collection="array" item="roleId" open="(" separator="," close=")">
			 #{roleId}
		</foreach>
	</delete>
	
	<delete id="deleteByPKs">
	  DELETE FROM sys_role_auth WHERE sra_roleId IN
		<foreach collection="array" item="roleId" open="(" separator="," close=")">
			 #{roleId}
		</foreach>
	</delete>
	
	<update id="update" parameterType="RoleAuth">
		UPDATE sys_role_auth SET
		sra_roleId=#{roleId},sra_menuId=#{menuId}
		WHERE sra_roleId=#{roleId}
	</update>
	
	<select id="selectById" parameterType="long" resultMap="roleAuthResultMap">
	    SELECT * FROM sys_role_auth WHERE sra_roleId=#{roleId}
	</select>
	
	<select id="selectOne" parameterType="java.lang.Long" resultMap="roleAuthResultMap">
		SELECT * FROM sys_role_auth WHERE sra_roleId=#{roleId}
	</select>
	
	<select id="selectByProperty" parameterType="RoleAuth" resultMap="roleAuthResultMap">
	  SELECT * FROM sys_role_auth WHERE 1=1
	    <if test="roleId !=null and roleId!=''">
	      AND sra_roleId = #{roleId}
	    </if>
	    <if test="menuId !=null and menuId!=''">
	      AND sra_menuId = #{menuId}
	    </if>
	</select>
	
	<select id="selectByPage" parameterType="RoleAuth" resultMap="roleAuthResultMap">
	    SELECT * FROM sys_role_auth 
	</select>
</mapper>